@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

.swiper-pagination-bullet-active {
    background-color: #fff !important;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 12px; /* Custom margin for spacing */
    background-color:#fff;
}
.fr-fic.fr-dib{
    margin-left: auto;
    margin-right: auto;
}
@layer base {
    @font-face {
        font-family: 'AppleSDGothicNeo';
        font-style: normal;
        font-weight: 100;
        font-display: swap;
        src: url(../fonts/AppleSDGothicNeoT.ttf) format('truetype');
    }
    @font-face {
        font-family: 'AppleSDGothicNeo';
        font-style: normal;
        font-weight: 200;
        font-display: swap;
        src: url(../fonts/AppleSDGothicNeoUL.ttf) format('truetype');
    }
    @font-face {
        font-family: 'AppleSDGothicNeo';
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(../fonts/AppleSDGothicNeoL.ttf) format('truetype');
    }
    @font-face {
        font-family: 'AppleSDGothicNeo';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(../fonts/AppleSDGothicNeoR.ttf) format('truetype');
    }
    @font-face {
        font-family: 'AppleSDGothicNeo';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(../fonts/AppleSDGothicNeoM.ttf) format('truetype');
    }
    @font-face {
        font-family: 'AppleSDGothicNeo';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(../fonts/AppleSDGothicNeoSB.ttf) format('truetype');
    }
    @font-face {
        font-family: 'AppleSDGothicNeo';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(../fonts/AppleSDGothicNeoB.ttf) format('truetype');
    }
    @font-face {
        font-family: 'AppleSDGothicNeo';
        font-style: normal;
        font-weight: 800;
        font-display: swap;
        src: url(../fonts/AppleSDGothicNeoEB.ttf) format('truetype');
    }
    @font-face {
        font-family: 'AppleSDGothicNeo';
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url(../fonts/AppleSDGothicNeoH.ttf) format('truetype');
    }
}